/**
 * @author    BOX http://box.agency
 * @contact   admin@box.agency
 */
/* ==========================================================================
   Base Styles
   ========================================================================== */
/**
 * Helper Variables & Functions
 */
.text-green {
  color: #62bb46; }

.bg-green {
  background-color: #62bb46; }

.text-yellow {
  color: #febd3b; }

.bg-yellow {
  background-color: #febd3b; }

.text-blue {
  color: #00bdf2; }

.bg-blue {
  background-color: #00bdf2; }

.text-purple {
  color: #8e5ba6; }

.bg-purple {
  background-color: #8e5ba6; }

.text-turquoise {
  color: #47bfaf; }

.bg-turquoise {
  background-color: #47bfaf; }

.text-gray {
  color: #3d5567; }

.bg-gray {
  background-color: #3d5567; }

.text-pink {
  color: #e871ab; }

.bg-pink {
  background-color: #e871ab; }

.text-brown {
  color: #72635d; }

.bg-brown {
  background-color: #72635d; }

@font-face {
  font-family: ooredoo;
  src: url("../fonts/ooredoo-regular-webfont.woff2") format("woff2"), url("../fonts/ooredoo-regular-webfont.woff") format("woff"); }
@font-face {
  font-family: ooredoo;
  src: url("../fonts/ooredoo-bold-webfont.woff2") format("woff2"), url("../fonts/ooredoo-bold-webfont.woff") format("woff");
  font-weight: bold; }
@font-face {
  font-family: ooredoo;
  src: url("../fonts/ooredoo-light-webfont.woff2") format("woff2"), url("../fonts/ooredoo-light-webfont.woff") format("woff");
  font-weight: 300; }
body {
  font: 1.4em/1.4 ooredoo, helvetica, arial, sans-serif;
  color: #222;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word; }
  .flexbox body {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

a, button {
  text-decoration: none;
  -webkit-transition: all 200ms ease-out;
          transition: all 200ms ease-out; }

button:active,
button:hover,
button:focus,
a:active,
a:hover,
a:focus {
  outline: none !important; }

a {
  color: #ed1d24; }
  a:hover, a:focus {
    color: #ed1d24;
    text-decoration: none; }

img {
  max-width: 100%; }

textarea {
  resize: vertical; }

.row.no-gutter {
  margin-right: 0;
  margin-left: 0; }

.row.no-gutter > [class^="col-"],
.row.no-gutter > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0; }

.form-control {
  height: 45px;
  border: none;
  box-shadow: none; }
  .form-control:focus {
    border-color: #ed1d24;
    box-shadow: none;
    background-color: #fefefe; }

.note-image-url {
  border: 1px solid #ccc; }

.control-label {
  color: #666;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 10px; }

.input-group-addon {
  border: none;
  background-color: #d7d7d7; }

span.help-block {
  color: #b0b0b0 !important; }

.has-error.checkbox .control-label {
  color: #666; }

.sweet-alert h2 {
  font-size: 26px; }

.sweet-alert p {
  font-size: 14px; }

/* ==========================================================================
   Layout Styles
   ========================================================================== */
.header {
  text-align: center;
  border-bottom: 1px solid #e2e1e1; }
  .header .navbar-nav a {
    line-height: 30px;
    color: #a3a3a3; }
    .header .navbar-nav a:hover {
      background-color: #eaeaea; }
  .header .navbar-toggle .icon-bar {
    background-color: #ed1c24; }
  @media (min-width: 768px) {
    .header .navbar-right {
      margin-right: -30px; } }
  .submission .header .navbar-right, .home .header .navbar-right {
    display: none; }
  .header .navbar-right a {
    color: #fff;
    background-color: #445b94; }
    .header .navbar-right a:hover {
      background-color: #2C4A94; }

.main {
  position: relative; }
  .home .main {
    background-color: #c2e2f4; }
  .flexbox .main {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }

.aside {
  position: relative;
  text-align: center; }
  .aside .title {
    position: absolute;
    top: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    white-space: nowrap;
    font: 20px ooredoo, helvetica, arial, sans-serif;
    color: #ed1d24; }
  .aside:hover {
    cursor: pointer; }
    .aside:hover .play-btn {
      background-color: rgba(0, 0, 0, 0.7); }

.footer {
  overflow: hidden;
  position: relative;
  background-color: #453f3d;
  padding: 35px 0 20px; }

/* ==========================================================================
   Module Styles
   ========================================================================== */
.logo {
  height: 58px;
  padding: 8px 15px; }

.footer-links {
  overflow: hidden;
  padding: 0;
  margin: 0; }
  .footer-links li {
    float: left;
    list-style: none;
    padding: 3px 0; }
    .footer-links li::before {
      content: '|';
      margin: 0 10px;
      color: #929191; }
    .footer-links li:first-child::before {
      display: none; }
    .footer-links li a {
      color: #929191;
      font-size: 14px; }

.social-links {
  float: right; }
  .social-links a {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-left: 15px;
    border-radius: 50%;
    line-height: 35px;
    font-size: 20px;
    text-align: center;
    color: #453f3d;
    background-color: rgba(255, 255, 255, 0.2); }
    .social-links a:hover {
      background-color: rgba(255, 255, 255, 0.4); }

.copyright {
  color: #fff; }
  .copyright a {
    color: #fff; }

.page-header {
  text-align: center;
  background: #ed1d24 url("../img/page-header-bg.png") repeat-x;
  margin: 0 0 50px;
  padding: 30px 0 40px; }
  .page-header .title {
    color: #fff;
    font-weight: bold; }

.page-body {
  padding-bottom: 55px; }
  .page-body h2 {
    color: #ed1d24;
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px; }
  .page-body .panel {
    background-color: #ecebeb;
    text-align: left;
    margin-bottom: 40px; }

.dropzone {
  height: 200px;
  text-align: center;
  font-weight: bold;
  border: 3px dashed #bbb;
  color: #bbb;
  border-radius: 5px;
  background-color: #fff;
  position: relative; }
  .dropzone .preview-img {
    max-height: 154px; }
  .dropzone .dz-message {
    margin: 0;
    font-size: 1.145em; }
    .dropzone .dz-message button {
      border-color: #bbb;
      background-color: #efefef;
      color: #888; }
      .dropzone .dz-message button:hover {
        background-color: #e8e8e8; }
  .dropzone .dropzone-icon {
    display: block;
    font-size: 3.5em; }
  .dropzone .dropzone-divider {
    margin: 10px 0 15px;
    font-size: 0.7em; }
    .dropzone .dropzone-divider span {
      position: relative;
      top: 2px; }

#crop-modal .well {
  font-size: 12px; }
#crop-modal .modal-backdrop {
  background-color: #FFF; }
#crop-modal .modal-content {
  border-radius: 0;
  border: none; }
#crop-modal .img-container {
  background-color: #f7f7f7;
  border: 1px solid #eee;
  box-shadow: inset 0 0 3px #f7f7f7;
  width: 100%;
  overflow: hidden; }

#video-modal .modal-content {
  box-shadow: none;
  border: none;
  border-radius: 0;
  background-color: #000; }
#video-modal .modal-body {
  padding: 0; }
#video-modal .modal-backdrop.in {
  opacity: 0.8; }
#video-modal .close-btn {
  position: absolute;
  top: -10px;
  right: -10px;
  opacity: 0.7;
  -webkit-transition: opacity 200ms ease-out;
          transition: opacity 200ms ease-out;
  cursor: pointer; }
  #video-modal .close-btn:hover {
    opacity: 1; }
  #video-modal .close-btn::before, #video-modal .close-btn::after {
    content: "";
    border-style: solid;
    border-color: #ccc;
    border-width: 0px 3px 3px 0px;
    height: 30px;
    width: 30px;
    position: absolute;
    top: -10px;
    left: 15px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  #video-modal .close-btn::before {
    border-width: 0px 3px 3px 0px;
    top: 0; }
  #video-modal .close-btn::after {
    border-width: 3px 0px 0px 3px;
    top: 38px; }

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 6px solid #fff;
  border-radius: 50%;
  width: 108px;
  height: 108px;
  background: rgba(0, 0, 0, 0.6) url("../img/play-ico.png") 33px center no-repeat; }
  .play-btn:hover {
    background-color: rgba(0, 0, 0, 0.7); }

.range-input {
  margin-top: 8px; }
  .range-input .slider-track {
    background-color: #fff;
    background-image: none; }
  .range-input .slider-handle {
    background-image: none;
    background-color: #47bfaf;
    opacity: 1; }
  .range-input .slider-selection {
    background-image: none;
    background-color: rgba(71, 191, 175, 0.5); }
  .range-input b {
    color: #666;
    margin-right: 7px; }
    .range-input b:last-child {
      margin-left: 7px;
      margin-right: 0px; }

.btn-submit {
  background-color: #ed1d24;
  border: 1px solid #ed1d24;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  padding: 15px 50px; }
  .btn-submit:hover, .btn-submit:focus {
    background-color: transparent;
    color: #ed1d24; }
  .home .btn-submit {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6); }

.loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: fadeIn 0.5s ease-in-out;
          animation: fadeIn 0.5s ease-in-out;
  /* @keyframes bounce {
    0%, 100% {
      transform: scale(0.0);
    } 50% {
      transform: scale(1.0);
    }
  } */ }
  .loading.light {
    background-color: white; }
  .loading .spinner {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
  .loading .double-bounce1, .loading .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #981015;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2.0s infinite ease-in-out;
            animation: bounce 2.0s infinite ease-in-out; }
  .loading .double-bounce2 {
    -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s; }

/**
 * Outdated Browser Alert
 */
.outdated-browser {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
  font-family: helvetica, Arial;
  text-align: center;
  text-transform: uppercase;
  background-color: #f25648;
  color: #ffffff;
  border-radius: 0;
  margin-bottom: 0; }
  .outdated-browser h6 {
    font-size: 25px;
    line-height: 25px;
    margin: 0 0 10px; }
  .outdated-browser p {
    font-size: 12px;
    line-height: 12px;
    margin: 0; }
  .outdated-browser .update-btn {
    display: block;
    position: relative;
    padding: 10px 20px;
    margin: 30px auto 0;
    width: 230px;
    color: #ffffff;
    text-decoration: none;
    border: 2px solid #ffffff;
    cursor: pointer; }
    .outdated-browser .update-btn:hover {
      color: #f25648;
      background-color: #ffffff; }
  .outdated-browser .close-btn {
    position: absolute;
    top: 10px;
    right: 25px;
    text-decoration: none;
    color: #ffffff;
    font-size: 36px;
    line-height: 1; }

.wysiwyg-editor {
  display: block !important;
  width: 0;
  height: 0 !important;
  padding: 0;
  margin: 0;
  visibility: hidden; }

.note-editor {
  border: none;
  border-radius: 4px; }
  .note-editor .note-editable {
    background-color: #fff; }
  .note-editor .note-resizebar {
    border: none !important; }
  .note-editor .note-toolbar {
    border: none; }
    .note-editor .note-toolbar .btn {
      border: none; }

/*------------------------------------*\
    #SUBMISSION-PAGE
\*------------------------------------*/
.submission-page .badge {
  margin-top: 2px;
  margin-right: 7px;
  background-color: #c3c2c2;
  color: #ecebeb; }

.landing-section {
  position: relative;
  height: 644px;
  background-color: #c2e2f4; }
  .landing-section .bg-cover {
    margin-top: 110px; }
  .landing-section .logo-cover {
    width: 160px;
    height: 109px;
    margin: 20px auto; }
  .landing-section .btn-wrap {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 40px; }
  .landing-section .nav-categ {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none; }
    .landing-section .nav-categ li {
      float: left;
      width: 12.5%;
      text-align: center; }
    .landing-section .nav-categ a {
      color: #fff;
      display: block;
      height: 65px;
      padding: 20px 0;
      font-size: 18px;
      margin-left: 1px; }

.project-item {
  border: 1px solid #efefef;
  border-top: none;
  border-left: none;
  color: #99a3b1;
  padding-bottom: 10px; }
  .project-item.pink .project-img {
    border-color: #e871ab; }
  .project-item.pink .title {
    color: #e871ab; }
  .project-item .project-img {
    position: relative;
    margin-bottom: 20px;
    border-bottom: 4px solid; }
    .project-item .project-img:after {
      content: attr(title);
      display: block;
      position: absolute;
      bottom: 0;
      right: 20px;
      background-color: #e871ab;
      color: #fff;
      padding: 3px 10px;
      border-radius: 5px 5px 0 0; }
    .pink .project-item .project-img {
      border-color: #e871ab; }
  .project-item img {
    width: 100%; }
  .project-item .btn {
    background-color: #ed1d24;
    color: #fff;
    margin-bottom: 5px; }
  .project-item .project-info {
    float: right;
    width: 160px;
    text-align: center;
    border-left: 1px solid #efefef;
    padding: 10px 0; }
    .project-item .project-info div {
      width: 50%;
      float: left; }
      .project-item .project-info div span {
        display: block;
        color: #ed1d24; }
  .project-item .project-detail {
    padding-left: 20px; }

.parallax-window {
  min-height: 536px;
  background: transparent;
  padding: 40px 0;
  text-align: center; }
  .parallax-window > .title {
    color: #fff; }
  .parallax-window > .description {
    color: #fff; }
  .parallax-window .service-block {
    background-color: rgba(0, 0, 0, 0.4); }
    .parallax-window .service-block .title {
      color: #febd3b; }
    .parallax-window .service-block .description {
      color: #fff; }

.last-block {
  text-align: center;
  background: #ed1d24 url("../img/page-header-bg.png") repeat-x;
  padding: 30px 0 40px; }
  .last-block .title {
    color: #fff;
    font-weight: bold; }

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 30px; }

.rating span.star {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block; }

.rating span.star:hover {
  cursor: pointer; }

.rating span.star:before {
  content: "\f087";
  padding-right: 5px;
  color: #777777; }

.rating span.star:hover:before,
.rating span.star:hover ~ span.star:before {
  content: "\f087";
  color: #3b5998; }

a, button, .btn, input, textarea {
  text-decoration: none;
  -webkit-transition: all 200ms ease-out;
          transition: all 200ms ease-out; }

.form-control:focus {
  border: 1px solid #AFDAD4;
  box-shadow: none; }

.control-label {
  color: #333;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 10px; }

.page-header {
  text-align: center;
  background: #ed1d24 url("../img/page-header-bg.png") repeat-x;
  margin: 0 0 50px;
  padding: 30px 0 40px;
  font-size: 15px; }

/* 123R */
.page-header .title {
  color: #fff;
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); }

.page-body .panel {
  background-color: #efefef;
  text-align: left;
  margin-bottom: 40px; }

.contact-page .btn-submit {
  width: 100%;
  padding: 10px;
  background-color: #3ea496;
  border: none; }

.contact-page .btn-submit:hover, .contact-page .btn-submit:focus {
  color: #FFF;
  background-color: #328479; }

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
  background: #F5F5F5; }

.panel-title > a {
  font-weight: bold;
  font-size: 18px;
  color: #FFF; }

.panel-title > i {
  color: #febd3b;
  margin-right: 10px; }

.panel-title > a:hover, .panel-title > a:active, .panel-title > a:focus {
  color: #febd3b; }

.faq-text {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 26px;
  color: #666;
  font-weight: 300;
  padding: 10px; }

.panel-heading {
  padding: 20px 25px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #3d5567 !important; }
