/**
 * @author    BOX http://box.agency
 * @contact   admin@box.agency
 */

/* ==========================================================================
   Base Styles
   ========================================================================== */

/**
 * Helper Variables & Functions
 */

$red: #ed1d24;
$primary-color: #4183c4;
$font: ooredoo, helvetica, arial, sans-serif ;

$green: #62bb46;
$yellow: #febd3b;
$blue: #00bdf2;
$purple: #8e5ba6;
$turquoise: #47bfaf;
$gray: #3d5567;
$pink: #e871ab;
$brown: #72635d;


.text-green { color: $green; } .bg-green { background-color: $green; }
.text-yellow { color: $yellow; } .bg-yellow { background-color: $yellow; }
.text-blue { color: $blue; } .bg-blue { background-color: $blue; }
.text-purple { color: $purple; } .bg-purple { background-color: $purple; }
.text-turquoise { color: $turquoise; } .bg-turquoise { background-color: $turquoise; }
.text-gray { color: $gray; } .bg-gray { background-color: $gray; }
.text-pink { color: $pink; } .bg-pink { background-color: $pink; }
.text-brown { color: $brown; } .bg-brown { background-color: $brown; }


@font-face {
    font-family: ooredoo;
    src:
        url('../fonts/ooredoo-regular-webfont.woff2') format('woff2'),
        url('../fonts/ooredoo-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: ooredoo;
    src:
        url('../fonts/ooredoo-bold-webfont.woff2') format('woff2'),
        url('../fonts/ooredoo-bold-webfont.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: ooredoo;
    src:
        url('../fonts/ooredoo-light-webfont.woff2') format('woff2'),
        url('../fonts/ooredoo-light-webfont.woff') format('woff');
    font-weight: 300;
}


body{
  font: 1.4em/1.4 $font;
  color: #222;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  // background: url(../img/bg.png) center top no-repeat;
  .flexbox & {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

a, button{
  text-decoration: none;
  transition: all 200ms ease-out;
}

button:active,
button:hover,
button:focus,
a:active,
a:hover,
a:focus{ outline: none !important; }

a {
  color: $red;
  &:hover, &:focus {
    color: $red;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}

textarea {
  resize: vertical;
}

.rte-content {

}

// Bootstrap - removing gutter from .row class
.row.no-gutter {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutter > [class^="col-"],
.row.no-gutter > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.form-control {
  height: 45px;
  border: none;
  box-shadow: none;
  &:focus {
    border-color: $red;
    box-shadow: none;
    background-color: #fefefe;
  }
}

.note-image-url {
  border: 1px solid #ccc;
}

.control-label {
  color: #666;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 10px;
}

.input-group-addon {
  border: none;
  background-color: #d7d7d7;
}

span.help-block {
  color: #b0b0b0 !important;
}

.has-error.checkbox .control-label {
  color: #666;
}

.sweet-alert h2 {
  font-size: 26px;
}
.sweet-alert p {
  font-size: 14px;
}

/* ==========================================================================
   Layout Styles
   ========================================================================== */

.header {
  text-align: center;
  // height: 60px;
  border-bottom: 1px solid #e2e1e1;
  .navbar-nav a {
    line-height: 30px;
    color: #a3a3a3;
    &:hover {
      background-color: #eaeaea;
      // color: #7B7B7B;
    }
  }
  .navbar-toggle .icon-bar {
    background-color: #ed1c24;
  }
  .navbar-right {
    @media (min-width: 768px) {
      margin-right: -30px;
    }
    .submission &, .home & {
      display: none;
    }
    a {
      color: #fff;
      background-color: #445b94;
      &:hover {
        background-color: #2C4A94;
      }
    }
  }
  .home & {
    // display: none;
  }
}

.main {
  .home & {
    background-color: #c2e2f4;
  }
  .flexbox & { flex: 1; }
  position: relative;
}

.aside {
  position: relative;
  text-align: center;
  .title {
    position: absolute;
    top: 10px; left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font: 20px $font;
    color: $red;
  }
  &:hover {
    cursor: pointer;
    .play-btn {
      background-color: rgba(0,0,0,0.7);
    }
  }
}

.footer {
  overflow: hidden;
  position: relative;
  background-color: #453f3d;
  padding: 35px 0 20px;
}


/* ==========================================================================
   Module Styles
   ========================================================================== */

.logo {
  height: 58px;
  padding: 8px 15px;
}

.footer-links {
  overflow: hidden;
  padding: 0; margin: 0;
  li {
    float: left;
    list-style: none;
    padding: 3px 0;
    &::before {
      content: '|';
      margin: 0 10px;
      color: #929191;
    }
    &:first-child::before {
      display: none;
    }
    a {
      color: #929191;
      font-size: 14px;
    }
  }
}

.social-links {
  float: right;
  a {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-left: 15px;
    border-radius: 50%;
    line-height: 35px;
    font-size: 20px;
    text-align: center;
    color: #453f3d;
    background-color: rgba(255,255,255,0.2);
    &:hover {
      background-color: rgba(255,255,255,0.4);
    }
  }
}

.copyright {
  color: #fff;
  a {
    color: #fff;
  }
}

.page-header {
  text-align: center;
  background: $red url('../img/page-header-bg.png') repeat-x;
  margin: 0 0 50px;
  padding: 30px 0 40px;
  .title {
    color: #fff; font-weight: bold;
  }
}

.page-body {
  padding-bottom: 55px;
  h2 {
    color: $red;
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .panel {
    background-color: #ecebeb;
    text-align: left;
    margin-bottom: 40px;
  }
}

.dropzone {
  height: 200px;
  text-align: center;
  font-weight: bold;
  // line-height: 155px;
  border: 3px dashed #bbb;
  color: #bbb;
  border-radius: 5px;
  //background-color: #f8f8f8;
  background-color: #fff;
  // padding: 17px;
  position: relative;

  .preview-img {
    max-height: 154px;
  }

  .dz-message {
    margin: 0;
    font-size: 1.145em;
    button {
      border-color: #bbb;


      background-color: #efefef;
        color: #888;
      &:hover {
        // color: #777;
        background-color: #e8e8e8;
      }
    }
  }
  .dropzone-icon {
    display: block;
    font-size: 3.5em;
  }
  .dropzone-divider {
    margin: 10px 0 15px;
    font-size: 0.7em;
    span {
      position: relative;
      top: 2px;
    }
  }
}

#crop-modal {
  .well {
    font-size: 12px;
  }
  .modal-backdrop {
    background-color: #FFF;
  }
  .modal-content {
    border-radius: 0;
    border: none;
  }
  .img-container {
    background-color: #f7f7f7;
    border: 1px solid #eee;
    box-shadow: inset 0 0 3px #f7f7f7;
    width: 100%;
    overflow: hidden;
  }
}

#video-modal {
  .modal-content {
    box-shadow: none;
    border: none;
    border-radius: 0;
    background-color: #000;
  }
  .modal-body {
    padding: 0;
  }
  .modal-backdrop.in {
    opacity: 0.8;
  }
  .close-btn {
    position: absolute;
    top: -10px; right: -10px;
    opacity: 0.7;
    transition: opacity 200ms ease-out;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
    &::before, &::after {
      content: "";
      border-style: solid;
      border-color: #ccc;
      border-width: 0px 3px 3px 0px;
      height: 30px;  width: 30px;
      position: absolute;
      top: -10px;
      left: 15px;
      transform: rotate(45deg);
    }
    &::before {
      border-width: 0px 3px 3px 0px;
      top: 0;
    }
    &::after {
      border-width: 3px 0px 0px 3px;
      top: 38px;
    }
  }
}

.play-btn {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  border: 6px solid #fff;
  border-radius: 50%;
  width: 108px; height: 108px;
  background: rgba(0,0,0,0.6) url('../img/play-ico.png') 33px center no-repeat;
  &:hover {
    background-color: rgba(0,0,0,0.7);
  }
}

.range-input {
  margin-top: 8px;
  .slider-track {
    background-color: #fff;
    background-image: none;
  }
  .slider-handle {
    background-image: none;
    background-color: rgba(71, 191, 175, 1);
    opacity: 1;
  }
  .slider-selection {
    background-image: none;
    background-color: rgba(71, 191, 175, 0.5);
  }
  b {
    color: #666;
    margin-right: 7px;
    &:last-child {
      margin-left: 7px;
      margin-right: 0px;
    }
  }
}

.btn-submit {
  background-color: $red;
  border: 1px solid $red;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  padding: 15px 50px;
  &:hover, &:focus {
    background-color: transparent;
    color: $red;
  }
  .home & {
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
  }
}

.loading {
  position: fixed; top: 0; left: 0;
  z-index: 1000;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.5);
  animation: fadeIn 0.5s ease-in-out;
  &.light {
    background-color: rgba(255,255,255,1);
  }
  .spinner {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #981015;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    animation: bounce 2.0s infinite ease-in-out;
  }

  .double-bounce2 {
    animation-delay: -1.0s;
  }

  /* @keyframes bounce {
    0%, 100% {
      transform: scale(0.0);
    } 50% {
      transform: scale(1.0);
    }
  } */
}

/**
 * Outdated Browser Alert
 */

.outdated-browser {
    display: none;
    position: fixed; top: 0; left: 0; width: 100%;
    z-index:999999;
    font-family: helvetica, Arial;
    text-align: center; text-transform: uppercase;
    background-color: #f25648; color: #ffffff;
    border-radius: 0;
    margin-bottom: 0;
    h6 {font-size: 25px; line-height: 25px; margin: 0 0 10px;}
    p {font-size: 12px; line-height: 12px; margin: 0;}
    .update-btn {
        display: block; position: relative;
        padding: 10px 20px; margin: 30px auto 0; width: 230px;
        color: #ffffff; text-decoration: none; border: 2px solid #ffffff; cursor: pointer;
        &:hover{color: #f25648; background-color:#ffffff;}
    }
    .close-btn {
        position: absolute; top: 10px; right: 25px;
        text-decoration: none; color: #ffffff; font-size: 36px; line-height: 1;
    }
}

.wysiwyg-editor {
  display: block !important;
  width: 0; height: 0 !important;
  padding: 0; margin: 0;
  visibility: hidden;
}
.note-editor {
  border: none;
  border-radius: 4px;
  // overflow: hidden;
  .note-editable {
    background-color: #fff;
  }
  .note-resizebar {
    border: none !important;
  }
  .note-toolbar {
    border: none;
    .btn {
      border: none;
    }
  }
}

/*------------------------------------*\
    #SUBMISSION-PAGE
\*------------------------------------*/

.submission-page {
  .badge {
    margin-top: 2px;
    margin-right: 7px;
    background-color: #c3c2c2;
    color: #ecebeb;
  }
}

.landing-section {
  position: relative;
  height: 644px;
  background-color: #c2e2f4;
  .bg-cover{
    margin-top: 110px;
  }
  .logo-cover{
    width: 160px;
    height: 109px;
    margin: 20px auto;
  }
  .btn-wrap {
    text-align: center;
    width: 100%;
    position: absolute; bottom: 40px;
  }
  .nav-categ {
    position: absolute; bottom: 0;
    width: 100%;
    margin: 0; padding: 0;
    list-style: none;
    li {
      float: left; width: 12.5%;
      text-align: center;
    }
    a {
      color: #fff;
      display: block; height: 65px;
      padding: 20px 0;
      font-size: 18px;
      margin-left: 1px;
    }
  }
}

.project-item {
  border: 1px solid #efefef;
  border-top: none; border-left: none;
  color: #99a3b1;
  padding-bottom: 10px;
  &.pink {
    .project-img { border-color: $pink; }
    .title { color: $pink; }
  }
  .project-img {
    position: relative;
    &:after {
      content: attr(title);
      display: block;
      position: absolute;
      bottom: 0; right: 20px;
      background-color: $pink;
      color: #fff;
      padding: 3px 10px;
      border-radius: 5px 5px 0 0;
    }
    margin-bottom: 20px;
    border-bottom: 4px solid;
    .pink & {
      border-color: $pink;
    }
  }
  img {
    width: 100%;
  }
  .btn {
    background-color: $red;
    color: #fff;
    margin-bottom: 5px;
  }
  .project-info {
    float: right;
    width: 160px;
    text-align: center;
    border-left: 1px solid #efefef;
    padding: 10px 0;
    div {
      width: 50%;
      float: left;
      span {
        display: block;
        color: $red;
      }
    }
  }
  .project-detail {
    padding-left: 20px;
  }
}

.parallax-window {
  min-height: 536px;
  background: transparent;
  padding: 40px 0 ;
  text-align: center;
  > .title {
    color: #fff;

  }

  > .description {
    color: #fff;
  }

  .service-block {
    background-color: rgba(0,0,0,0.4);
    .title {
      color: #febd3b;
    }
    .description {
      color: #fff;
    }
  }

}

.last-block {
  text-align: center;
  background: $red url('../img/page-header-bg.png') repeat-x;
  // margin: 0 0 50px;
  padding: 30px 0 40px;
  .title {
    color: #fff; font-weight: bold;
  }
}


.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 30px;
}
.rating span.star {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
}
.rating span.star:hover {
  cursor: pointer;
}
.rating span.star:before {
  content: "\f087";
  padding-right: 5px;
  color: #777777;
}
.rating span.star:hover:before,
.rating span.star:hover ~ span.star:before {
  content: "\f087";
  color: #3b5998;
}

// Ramy's modification

a, button,.btn, input, textarea{
  text-decoration: none;
  transition: all 200ms ease-out; }
.form-control:focus {
    border: 1px solid #AFDAD4;
    box-shadow: none;
  }

.control-label {
  color: #333;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 10px; }

.page-header {
  text-align: center;
  background: #ed1d24 url("../img/page-header-bg.png") repeat-x;
  margin: 0 0 50px;
  padding: 30px 0 40px;
  font-size: 15px;
}

  /* 123R */
  .page-header .title {
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 3px rgba(0,0,0,0.4);
  }

  .page-body .panel {
    background-color: #efefef;

    text-align: left;
    margin-bottom: 40px; }

.contact-page .btn-submit {
  width: 100%;
  padding: 10px;
  background-color: #3ea496;
  border: none;
}
.contact-page .btn-submit:hover, .contact-page .btn-submit:focus {
  color: #FFF;
  background-color: #328479
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
  background: #F5F5F5;
}

.panel-title > a{
  font-weight: bold;
  font-size: 18px;
  color: #FFF;
}
.panel-title > i{
  color: #febd3b;
  margin-right: 10px;
}
.panel-title > a:hover,.panel-title > a:active,.panel-title > a:focus{
  color: #febd3b;
}
.faq-text{
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 26px;
  color: #666;
  font-weight: 300;
  padding: 10px;
}

.panel-heading {
padding: 20px 25px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
background-color: #3d5567 !important;
}

